* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

body{
    margin-top: 50px; 
}

.firstSection{
    background: linear-gradient(228.99deg, #13acf7 5.61%, #0093de 96.5%); 
    clip-path: ellipse(200% 100% at 50% 0%);
    font-family: "Fira Sans Condensed","Fira Sans",Arial,sans-serif; 
    color: #fff; 
}

.firstSectionIndex {
    height: 330px; 

    padding: 30px 30px 0 30px; 
    background: linear-gradient(228.99deg, #13acf7 5.61%, #0093de 96.5%); 
    clip-path: ellipse(200% 100% at 50% 0%);
    font-family: "Fira Sans Condensed","Fira Sans",Arial,sans-serif; 
    font-size: 0.8rem;
    line-height: 1.95rem;
    letter-spacing: 0.05rem;
    font-weight: 200;
    color: #fff; 
}


.imgFirstContainer{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}
.gegeImgFirst{
    min-width: 200px; 
    min-height: 300px; 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}

.gegeImgFirstindex{
    background-image: url('../public/gege-explication.png'); 
}

.calculImgFirst{
    background-image: url('../public/per-calcul.png'); 
    min-width: 70px; 
    min-height: 100px; 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
    margin-top: -70px; 
}

a {
    text-decoration: none; 
}

 button:hover{
     cursor: pointer; 
 }

 .h1Global {
    font-size: 1.5rem;
    line-height: 1.95rem;
    font-weight: 700;
    display: block;
    margin: 0 0 15px;
}

.h2Global {
    color: #2a3775;
    font-family: Fira Sans,Arial,sans-serif;
    font-size: 1.5rem;
    line-height: 1.95rem;
    letter-spacing: .05rem;
    font-weight: 900;
    margin: 0 0 15px;
    text-align: center; 
}

.h3Global{
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 500;
}
.h4Global {
    font-family: Fira Sans,Arial,sans-serif;
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin: 0 auto 20px;
    color: #2a3775;
    text-align: center;
    max-width: 820px;
}
.h4Global-v2{
    font-family: Fira Sans,Arial,sans-serif;
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin: 0 auto 20px;
    color: #2a3775;
    text-align: left;
    max-width: 820px;
}
.h5Global{
    font-family: Fira Sans,Arial,sans-serif;
    font-size: 1.1rem;
    line-height: 1.625rem;
    margin: 0 auto 15px;
    color: #2a3775;
    text-align: left;
    max-width: 820px;
}

.h6Global{
    font-size: 1rem;
    line-height: 1.3rem;
    margin: 0 0 15px;
    text-align: left;
    color: #2a3775;
    max-width: 820px;
    font-family: Fira Sans Condensed,Fira Sans,Arial,sans-serif;

}
.paragrapheGlobal{
    margin: 0 0 30px;
    color: #4e6174;
    font-size: 1rem;
    line-height: 1.65;
    font-family: Fira Sans Condensed,Fira Sans,Arial,sans-serif;
    font-weight: 400;
}


a {
    cursor: pointer; 
}

.paragrapheGlobal-v2 {
    line-height: 1.5;
    color: #627a93;
    font-weight: 400;
    margin-bottom: 150px; 
}

.paragrapheGlobal-v3 {
    margin: 0 0 0px;
    color: #4e6174;
    font-size: 1rem;
    line-height: 1.65;
    font-family: Fira Sans Condensed,Fira Sans,Arial,sans-serif;
    font-weight: 400;
}



.enSavoirPlusCtn{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}
.enSavoirPlusCtn-v2{
    display: flex; 
    flex-direction: row; 
    justify-content: left; 
    align-items: center; 
}
.enSavoirPlusCtn-v3{
    display: flex; 
    flex-direction: row; 
    justify-content: right; 
    align-items: center; 
    margin-bottom: 20px; 
}
.enSavoirPlus {
    padding-top: 15px; 
    padding-bottom: 15px;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    padding-right: 0.8rem;
    font-size: 1rem;
    font-family: "Fira Sans Condensed","Fira Sans",Arial,sans-serif;
    color: #cb2500;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    transition: all 0.4s ease;
}
.orange-arrow {
    display: inline-block; 
    color: #da4523;

    font-weight: 600; 
}

.slider-dot.slider-dot-2 {
    margin-bottom: 20px ; 
}


.h1GlobalNew {
    font-size: 20px;
    color: #293579;
    font-weight: 500;
    line-height: 1.4;

}

@media screen and (min-width: 768px) {
    .firstSection {
        text-align: center; 
    }
    .firstSectionIndex {
        height: auto; 
        min-height: 600px; 
        padding: 60px 40px 0 40px; 
        font-size: 1.1rem;
        line-height: 2.6rem;
        letter-spacing: 0.05rem;
        font-weight: 500;
    }
    
    .gegeImgFirst {
        display: none; 
    }
    .calculImgFirst {
        display: none; 
    }
    .paragrapheGlobal{
        font-size: 1.2rem;
    }
    .h1Global {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    .h3Global{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .h5Global{
        font-size: 1.3rem;
        margin: 0 0 15px;
    }
    .h6Global {
        font-size: 1.2rem; 
    }
    .paragrapheGlobal-v3 {
        font-size: 1.15rem;

    }
    .enSavoirPlusCtn{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}
.enSavoirPlus {
    font-size: 1.2rem;
}
    
}