
/* Mobile rules start*/
.mobileMenu {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-height: 100vh; 
    min-width: 100%; 
    background-color: rgb(249, 250, 251); 
    z-index: 170; 
    padding: 20px; 
}



.menuTitle {
    color: #627a93;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-size: 1rem;
    padding: 0px;
    font-weight: 400;
    text-align: center; 
}


.dropdownMenuHeader{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 30px; 
}
/* Mobile rules end*/





@media screen and (min-width: 768px){
    .mobileMenu {
        position: fixed; 
        left: auto; 
        top: 0; 
        right: 0; 
        min-width: auto; 
        width: 400px; 
    }
}


@media screen and (min-width: 1200px){
    .mobileMenu {
        display: none ; 
    }
}