 .imagePret {
    height: 145px; 
    width: 145px; 
    background-image: url('../public/assurances-pret-header.png'); 
    background-position: bottom; 
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: auto; 
 }
 
 @media screen and (min-width: 768px) {
   .imagePret {
      height: 245px; 
      width: 245px; 
      display: block; 
      margin-top: 20px; 
   }
}