.productContainer {
    background-color:rgba(147, 215, 249, 0.1); 
    padding: 0 30px 30px;
    clip-path: ellipse(200% 100% at 50% 0%);
}

.productsList{
    position: relative; 
    z-index: 1; 
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    width: 100%;
    text-align: center;
    margin: -50px auto 0;
    max-width: 735px;
}

.product {
    min-width: 40%; 
    height: 50px;
    max-width: 48%; 
    min-height: 130px; 
    margin-bottom: 20px; 
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    flex-grow: 1;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    color: #2a3775;
    font-size: 1rem;
    transition: all 0.2s ease-out;
    box-shadow: 0 5px 8px rgb(19 172 247 / 10%);
}

.productIcon{
    font-size: 50px; 
    color: #009be8; 
    margin-bottom: 8px; 
}

.productTitle {
    font-family: "Fira Sans Condensed","Fira Sans",Arial,sans-serif; 
    font-weight: 400; 
    font-size: 0.9rem; 
}


.product2 {
    width: 100%; 
    margin: auto; 
    height: 50px;
    margin-bottom: 20px; 
    position: relative;
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    padding-left: 20px;  
    align-items: center; 
    flex-grow: 1;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
    color: #2a3775;
    font-size: 1rem;
    transition: all 0.2s ease-out;
    box-shadow: 0 5px 8px rgb(19 172 247 / 10%);
}
.productIcon2{
    margin-right: 15px; 
    color: #009be8; 
}

.productTitle2{
    font-family: "Fira Sans Condensed","Fira Sans",Arial,sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
}

@media screen and (min-width: 768px) {
    .productContainer {
        margin-top: -400px; 
        background-color:transparent; 

    }
    .product {
        min-width: auto; 
        max-width: 165px; 
    }
    .product2 {
        max-width: 800px; 
    }
}